body {
  max-width: 1880px;
  background-color: #1d1d1d;
  /* color: #f1f1f1; */
  margin: 0;
  padding: 0;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: -1;
  border: #000000;
}

#overlay img {
  width: 100%;
  height: 965px;
  object-fit: cover;
  border-right: 2px solid white;
}
h1 {

  color: #f1f1f1;
  font-size: 70px;
  text-align: center;
   padding-top: 100px;
}
  #h1-titre{

    color: #f1f1f1;
    font-size: 70px;
    text-align: right;
    padding-top: 200px;
    padding-right: 200px;
  }

  #h2-guerrier{
    color: rgb(197, 41, 41);
  
  }
  #h2-mage{
    color: rgb(23, 107, 185);
  
  }
  #h2-chasseur{
    color: rgb(27, 170, 27);
  
  }
#btnplay {
  display: flex;
 right: 400px;
 top: 500px;
 position:absolute;
}

.btn.btn-primary.btn-lg {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  background-color:  #f1f1f1;
  color: #333;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: border-color 0.3s ease;
}

.btn.btn-primary.btn-lg:hover {
  background-color: #1d1d1d;
  color:  #f1f1f1;
  border-color:  #f1f1f1;
}

.btn.btn-primary.btn-lg::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-image: radial-gradient(circle, #ffcccc 150%, #ff6666 40%, #ff0000 70%, #000000 90%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  border-radius: 50px;
}

.btn.btn-primary.btn-lg:hover::after {
  opacity: 1;
}


.btn.btn-primary.btn-lg2 {
  margin-left: 380px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  background-color:  #f1f1f1;
  color: #333;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: border-color 0.3s ease;
}

.btn.btn-primary.btn-lg2:hover {
  background-color: #1d1d1d;
  color:  #f1f1f1;
  border-color:  #f1f1f1;;
}

.btn.btn-primary.btn-lg2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-image: radial-gradient(circle, #ffcccc 150%, #ff6666 40%, #ff0000 70%, #000000 90%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  border-radius: 50px;
}

.btn.btn-primary.btn-lg2:hover::after {
  opacity: 1;
}


#selectedImage {
  padding: 200px;
  width: 40%;
}

#enemyImage {
  padding: 200px;
  width: 20%;
}

.col-md-4 {
  display: flex;
  justify-content: space-between;
}

#choixperso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  padding-left: 200px;

}
#infoHeroG{
  border-left: rgb(197, 41, 41) 1px solid;
  padding-left: 10px; 
}
#infoHeroG p{
  color: #f1f1f1;
}

#infoHeroG img{
 width: 7%;
}
#infoHeroM{
  border-left: rgb(23, 107, 185) 1px solid;
  padding-left: 10px; 
}
#infoHeroM p{
  color: #f1f1f1;
}
 #infoHeroM img{
  width: 7%;
}
#infoHeroC{
  border-left: rgb(27, 170, 27) 1px solid;
  padding-left: 10px; 
} 
#infoHeroC p{
  color:#f1f1f1;
}
 #infoHeroC img{
  width: 7%;
}
.card-deck {
  display: flex;

}

.card-img {
  width: 50%;
}


.card {
  position: relative;
  display: inline-block;
}

.card .card-img {
  transition: transform 0.3s;
}

.card:hover .card-img {
  transform: scale(1.1);
}

.card-img.selected {
  border: 2px solid red;
}

#buttonAttack {
  width: 7%;
  position: fixed;
  top: 550px;
  left: 45%;
  transform: translateX(-50%);
  border: 2px solid transparent;
  border-radius: 50px;
  text-align: center;
  align-items: center;

  font-size: 15px;
  padding: 5px 5px;
}

#buttonAchat {
  width: 7%;
  position: fixed;
  top: 400px;
  right: 46%;
  transform: translateX(-50%);
  border: 2px solid transparent;
  border-radius: 50px;
  text-align: center;
  align-items: center;

  font-size: 15px;
  padding: 5px 5px;
}


.infoGame {
  position: fixed;
  left: 11%;
  top: 60%;
  color: #ffcccc;
}

.infoEnemy {
  position: fixed;
  right: 32%;
  top: 60%;
  color: #ffcccc;
}


.small-icon {
  width: 3%;
  right: 20px;
  top: 900px;
  position: fixed;
}


 /**********************************************************/
  /******** Marchand**************/
  /**********************************************************/
  #containerMarchand {
    width: 100%;
    height: auto;
  }
  
  #vueMarchand {
    position: relative;
    text-align: center;
    top: 50px;
  }
  
  #objets {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 50px 20%;
    margin: 0;
  }
  
  .item {
    flex: 1;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .item h2 {
    font-size:100%;
    margin-top: 20px;
    color: white;
  }
  
  .item img {
    width: 70%;
    height: auto;
    border: 2px solid white;
  }
  #btnValidation {
    display: block;
    width: 7%;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 2px solid transparent;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    padding: 5px 5px;
}

#vueGold{
  width: 100%;
  height: auto;
}
#vueGold p{
  position: fixed;
  color: white;
 
  left: 250px;
}

#continueGame {
  top: 100px;
  position: fixed;
  right: 50px;
  display: block;
  width: 150px;
  height: 40px;
  margin-top: 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: border-color 0.3s ease;
  font-size: 16px;
}

#continueGame:hover {
  background-color: #1d1d1d;
  color: #fff;
  border-color: #ff3333;
}

#message-container {
  position: fixed;
  top: 40%;
  left: 46%;
  width: 20%;
  height: 20%;
  margin-top: -10%;
  margin-left: -10%;
  overflow: auto;
  background-color:#1d1d1d;
  z-index: 9999;
  color: #f1f1f1;
  border: white 2px solid;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.popup-container img {
  max-width: 100%;
  max-height: 100%;
}
